/* General Css Rules */

*{
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 100%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.main-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* App container */
.app-container {
    width: 40%;
    background-color: #d9d9d9;
    margin-top: 60px;
    padding-bottom: 30px;
    overflow: hidden;
}

.app-container h1 {
   text-align: center; 
   margin: 10px 0;
   font-size: x-large;
}

/* App container search section */
.app-container  .search-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.app-container .search-container input {
    border:none;
    background-color: #eee;
    padding: 8px;
    margin: 15px 0px;
}

.app-container .search-container button{
    background-color:transparent;
    border:none;
    border:1px solid black;
    padding: 0 30px;
    border-radius: 15px;
}

.app-container button.btn-new{
    margin: 10px 5px;
    padding: 5px;
    border-radius: 5px;
}

/*  Category section */

.category-container {
    display: flex;
    justify-content: space-between;
}

.category-container span {
    margin: 20px 15px;
}


/* Meal Section */

#wrapper-meal #meal-container h3{
    padding:20px 10px;
}


#wrapper-meal #meal-container .meal-info {
    padding: 0 10px;
    margin: 10px 0px;
}

#wrapper-meal #instruction-container p {
    padding:10px;
}

#wrapper-meal #instruction-container span {
    padding:10px;
}

/* Javascript Css */
#instruction-container {
    display:none;
}

#instruction-container.show {
    display: block;
}

#instruction-container.show button{
    display:none;
}

#showContent {
    margin:10px;
}
